/*  # Main CSS file */

html,body 
{
  /* to have the background cover the whole page */
  height: 100%;
}

.pagecard {
  width: 200px;
  margin: 0px 20px 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid #fff;

  background-color: rgb(17, 17, 17);
}

.pagecard img 
{
  border: 2px solid #000000;
  width: 200px;
  height: 200px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Shop page styles */
#filter-dropdown
{
  margin: 40px 0px 25px 60px;
}

#mainShopContainer
{
  display: flex;
}

#shopShoppingCategories
{
  width: fit-content;
  color: white;
  padding-left: 20px;
  height: fit-content;
  flex-shrink: 1;
}

/* home page css */
/* media queries for different screeen sizes */
/* tablet 768px is alright no changes needed*/
@media (min-width: 1024px) {
  .search-bar input {
    width:140px
  }

  
}

@media (max-width: 414px) {
  .search-bar input {
    width:140px
  }

  header {
    width: 130vw;
    box-sizing: border-box;
    background-color: #222; 
  }

nav ul {
  flex-direction: row;
  gap: 10px;
}

}

#currentPage 
{
    background-color: rgba(138, 15, 15, 0.71);  
    color: white;              
         
}
  
/* //for cart icon from iconify */
.emojione-monotone--shopping-cart {
  display: inline-block;
  color:#000000;
  width: 30px;
  height: 30px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23000' d='M61.063 2H58.25v.896c-3.916.876-4.479 4.511-4.7 5.9c-.105.657-.318 1.942-.582 3.516H3.988c-1.938 0-2.155 1.811-1.902 2.813l5.746 25.367c.252 1.002 1.313 1.82 2.353 1.82h42.944c1.034 0 1.877.841 1.877 1.875s-.843 1.875-1.877 1.875H6.255a1.874 1.874 0 1 0 0 3.75h2.43a7.5 7.5 0 0 0-3.872 6.563h1.875c0 3.105 2.52 5.625 5.625 5.625s5.625-2.52 5.625-5.625h1.875a7.5 7.5 0 0 0-3.873-6.563h26.494a7.5 7.5 0 0 0-3.873 6.563h1.875a5.627 5.627 0 0 0 11.252 0h1.875a7.5 7.5 0 0 0-3.872-6.563h3.44a5.63 5.63 0 0 0 5.625-5.625a5.626 5.626 0 0 0-5.627-5.625h-.697l2.398-14.91c.668-3.938 2.108-12.445 2.446-14.561c.17-1.069.335-1.82.974-2.241v.774h2.813A.94.94 0 0 0 62 6.688v-3.75A.94.94 0 0 0 61.063 2m-48.75 57.188A2.816 2.816 0 0 1 9.5 56.375h5.625a2.816 2.816 0 0 1-2.812 2.813m33.75 0a2.816 2.816 0 0 1-2.814-2.813h5.627a2.82 2.82 0 0 1-2.813 2.813m-2.307-42.194a1.07 1.07 0 0 1 1.04-.932h5.937c.516 0 .875.416.794.927l-.588 3.771c-.078.51-.567.927-1.084.927h-5.663a.826.826 0 0 1-.841-.932zm-1.009 9.375a1.07 1.07 0 0 1 1.04-.932h5.483c.517 0 .875.416.797.927l-.443 2.834c-.079.51-.567.927-1.084.927h-5.257a.828.828 0 0 1-.841-.932zM6.866 20.777l-.95-3.805c-.124-.502.198-.91.715-.91h7.059c.518 0 .985.419 1.04.932l.404 3.762a.828.828 0 0 1-.84.932H8.033c-.516 0-1.042-.411-1.167-.911m3.271 9.348c-.516 0-1.042-.41-1.166-.91l-.716-2.867c-.125-.502.195-.91.712-.91h5.729c.517 0 .985.419 1.04.932l.304 2.824a.827.827 0 0 1-.84.932zm5.969 8.438h-3.865c-.519 0-1.042-.41-1.167-.91l-.716-2.867c-.124-.502.196-.91.714-.91h4.53c.517 0 .985.419 1.042.932l.302 2.824a.826.826 0 0 1-.84.931m11.492-.938a.94.94 0 0 1-.94.938h-4.891a1.07 1.07 0 0 1-1.039-.932l-.304-2.824a.825.825 0 0 1 .839-.932h5.395a.94.94 0 0 1 .94.938zm0-8.437a.94.94 0 0 1-.94.938H20.86c-.516 0-.982-.419-1.04-.932l-.302-2.824a.826.826 0 0 1 .839-.932h6.301a.94.94 0 0 1 .94.938zm0-8.438a.94.94 0 0 1-.94.938h-6.702a1.07 1.07 0 0 1-1.04-.932l-.404-3.762a.827.827 0 0 1 .84-.932h7.307a.94.94 0 0 1 .94.938v3.75zm10.159 16.881a1.07 1.07 0 0 1-1.04.932h-4.42a.94.94 0 0 1-.939-.938v-2.813a.94.94 0 0 1 .939-.938h4.924c.516 0 .896.419.84.932zm.906-8.438a1.07 1.07 0 0 1-1.04.932h-5.326a.94.94 0 0 1-.939-.938v-2.813a.94.94 0 0 1 .939-.938h5.83c.517 0 .896.419.839.932zm.906-8.437a1.07 1.07 0 0 1-1.04.932h-6.232a.94.94 0 0 1-.939-.938V17a.94.94 0 0 1 .939-.938h6.837c.517 0 .896.419.841.932zm7.232 17.807v-.007l-.008.007h-4.416c-.029 0-.054-.014-.083-.018c-.005-.034-.005-.068-.011-.104l-.044.092l.037.008c-.461-.053-.791-.434-.738-.91l.302-2.824a1.07 1.07 0 0 1 1.04-.932h5.076c.517 0 .873.416.795.927l-.443 2.834c-.077.51-.565.927-1.082.927z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/* class for icon */
.cart-icon 
{
  background-color: #720404;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 5px;
  margin-left: 5%;
}

.header-tools 
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


.card img 
{
  display: flex;

  width: 200px;
  height: 200px;
  margin: 10px auto;
  padding: 10px;
}

/* to put the item name near the card */
.linkpage 
{
  text-shadow: none;
  font-size: 16px;
  font-weight: bold;
  color: rgba(246, 242, 242, 0.999);

}

.home-header
 {
  /* previous assignment */
  background-color: rgba(139, 0, 0, 0.71);
  /* margin: 20px 25px 20px 25px; */

  font-family: Arial, sans-serif;
  text-align: center;
  word-spacing: 100px;
  /*for larger header*/
  height: 100px;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  /*CSS flexible box layout change layout of its children*/
  display: flex;
  justify-content: center;
  /* center vertically on cross axis */
  align-items: center;
 
}

nav ul 
{
  list-style-type: none;

  /* horizontal layout */
  display: flex;
  gap: 30px;

}

.search-bar 
{
  display: flex;
  margin-left: 60%;
}

.main-content 
{
  /* 3/4 of the horizontal space */
  flex: 3;
  padding: 20px;
  border: 2px solid #000000;
  text-align: center;
  background-color: #000000c1;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 10px rgb(255, 26, 26), 0 0 15px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6);
  /* Glowing text */

}

.aside-content
 {
  /* 1/4 of the space */
  flex: 1;
  padding: 20px;
  background-color: #000000c1;
  color: rgb(218, 239, 255);
  border: 2px solid rgb(255, 72, 0);

}

.paragraph-wrap 
{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}

.testament
 {
  text-shadow: none;
  border: 2px solid rgb(255, 72, 0);
  /* inside parent take up equal space with 
    other flex items that also have flex: 1
     */
  color: orange;
  flex: 1;
  text-align: center;

  /* space inside border */
  padding: 15px;
  background-color: #000000ac;
}

.mission 
{
  text-shadow: none;
  color: orange;
  flex: 1;
  border: 2px solid rgb(255, 72, 0);
  text-align: center;
  padding: 15px;
  background-color: #000000c1;
}

.body-image 
{
  background-image: url('../images/fireworks-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* keeps background fixed when scrolling down */
  background-attachment: fixed;

}

.footer-white 
{
  color: white;
  text-align: center;
}

.container 
{
  display: flex;
  margin-left: 10%;
  /*solid background behind content */
  background-color: #000000;
  margin-right: 10%;
}

#shopItemContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.a-header 
{
  text-decoration: none;
  /* shorthand property from MDN for slower hover in out like Bell 
from previous assignment*/
  transition: all 0.25s ease-in-out;
  color: rgb(255, 255, 255);
  background-color: #720404;
  padding: 10px;
}

/* <a> elements using pseudo-classes */
.a-header:hover 
{
  /* for highlight set up :hover in MDN */
  width: 10em;
  height: 5ex;
  background-color: rgba(143, 14, 14, 0.397);
  color: orangered;
  font-size: 18px;
  /*to underline the links*/
  text-decoration: none;
  /* For shadow and glowing under words from MDN text-shadow: 4px 4px 5px red;*/
  /* text-shadow: 4px, 4px 5px rgb(0, 195, 255);  */
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0);
  border-bottom: 1px solid white;

}

/* form login */
/* to be flipped sideways and margins on the side larger*/
.body-image-login 
{
  background-image: url('../images/fire-background.jpg');

  /* cover the whole page */
  background-size: cover;
  /* prevents repeat*/
  background-repeat: no-repeat;

  /* centers */
  background-position: center;
}

.login
 {
  background-color: rgba(47, 52, 65, 0.519);
  padding: 20px;
  border-radius: 3px;
  width: 100%;
  max-width: 400px;
  /* center main content */
  margin: 50px auto;
}

.signin-button 
{
  margin-left: 70%;
  background-color: aqua;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.login-main-content
 {
  /* to center the form */
  margin: auto;
  padding: 20px;
  border: 2px solid #000000;
  text-align: center;
  background-color: #000000c1;
  color: rgba(255, 255, 255, 0.9);
}

/* form contact */
.contact {
  background-color: rgba(47, 52, 65, 0.519);
  padding: 20px;
  border-radius: 3px;
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
}

.contact-main-content
{
  /* to center the form */
  margin: auto;
  padding: 20px;
  border: 2px solid #000000;
  text-align: center;
  background-color: #000000c1;
  color: rgba(255, 255, 255, 0.9);
}

/* product details page */
.product-main-content
{
  margin: auto;
  padding: 20px;
  border: 2px solid #000000;
  text-align: center;
  background-color: #000000c1;
  color: rgba(255, 255, 255, 0.9);
}

.product-img
{
  height:10%;
  width:10%;
}
/* events css */
.events-main-content
{
color:white;
text-align: center;
}

/* Cart Css */

#btn-remove-from-cart {
  font-size: 1.7em;
}

#cart-header {
  text-align: left;
  padding: 1em;
}

#product-name {
  font-size: 2em;
  margin-top: 2.5em;
}

#shopping-cart {
  width: 75em;
  background-color: rgb(14, 13, 13);
}

#qty-label {
  display: inline;
  margin-left: 15%;
  font-weight: bold;
}

#cart-item {
  display: flex;
  background-color: rgb(17, 17, 17);
  margin: 1em;
}

#total-label {
  display: inline;
  margin-left: 15%;
  font-weight: bold;
}

#price-label {
  display: inline;
  margin-left: 45%;
  font-weight: bold;
}

#cart-product-info {
  width: 58%;
}

#qty {
  display: inline;
  margin-left: 27%;
  line-height: 18;
  font-weight: bold;
}

#total {
  display: inline;
  margin-left: 27%;
  font-weight: bold;
  line-height: 18;
}

#price {
  display: inline;
  margin-left: 10%;
  font-weight: bold;
  line-height: 18;
}

#order-summary {
  display: flex;
  background-color: rgb(17, 17, 17);
  margin: 1em;
  
}

#final-total {
  text-align: left;
  margin-right: 80%;
}

#btn-apply-coupon {
  padding: 0.4em 5% 0.4em 0.6em;
  margin-left: 2%;
  margin-right: 71%;
  font-size: 1em;
}

#btn-shipping-options {
  margin-right: 69%;
  margin-top: 1em;
  padding: 0.4em 0.5em;
  font-size: 1em;
}

#btn-checkout {
  padding: 0.4em 0.4em;
  font-size: 1em;
  margin: 0.7em 69% 0.5em 2%;
}

#summary-title {
  text-align: left;
  padding-left: 5%;
}


/* theme switch */
:root{
  --fb-background-color: #121212;
  --fb-font-color: #7b7281;
}

:root[data-theme ="light"]
{
   --fb-background-color: #ffffff;
   --fb-font-color: #000000;
} 
body
{
   background-color: var(--fb-background-color);
   color: var(--fb-font-color);
}

